.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    font-size: 3rem;

}

.icon{
    display: flex;
    align-items: center;
    color: aqua;
    transition: color 0.3s ease; 
}

.icon:hover{
    color: var(--quinary-color);
}

.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem;
}

.aboutHeader{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: 700;
}

.aboutContent{
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.underline{
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
}

@media screen and (max-width: 1200px) {
    .aboutContent {
      font-size: 1.1rem;
    }
  }
  
  @media screen and (max-width: 992px) {
    .aboutContent {
        font-size: 1rem;
      }
  }
  
  @media screen and (max-width: 768px) {
    .aboutContent {
        font-size: 0.9rem;
      }
  }
  

@media screen and (max-width: 500px){
    .aboutSection{
        margin: 2rem;
    }
    .aboutContent {
        font-size: 0.8rem;
      }
}


