.projectsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem;
}

.projectsHeader{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: 700;
}

.underline{
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
}

.projectsContent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 0 3px var(--quinary-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardHeader{
    text-align: center;
    font-weight: 700;
    justify-content: center;
}

.cardHeader h2::after, .cardHeader::after{
    content: '';
    width: 100%;
    height: 0.2rem;
    background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
    display: block;
    margin-top: 0.5rem;
}


.cardContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    font-size: 0.8rem;
}

.cardFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
}


.cardFooter h3{
    color: aqua;
}

.icon{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    color: aqua;
    transition: color 0.3s ease; 
    border-radius: 50%;
}

.icon:hover{
    transform: translateY(-0.08rem);
}

@media screen and (max-width: 500px){
    .projectsSection{
        margin: 2rem;
    }

    .card{
        width: 100%;
    }
    
}