.projectsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
}

.projectsHeader{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: 700;
    max-width: fit-content;
}

.underline{
    width: 100%;
    height: 0.5rem;
    background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
}

.projectsContent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  display: flex;
  flex-direction: row; /* default: side by side */
  align-items: center;
  gap: 0.75rem;
  box-shadow: 0 0 3px var(--octonary-color);
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-image: linear-gradient(to right, var(--primary-color), var(--primary-color));
  transition: all 300ms;
}

.dark .card {
  border-color: #374151; /* dark:border-gray-700 */
  background-image: linear-gradient(to right, rgb(30 58 138 / 0.2), rgb(127 29 29 / 0.2)); /* dark:from-blue-900/20 dark:to-red-900/20 */
}

.group:hover .card {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); /* group-hover:shadow-lg */
  transform: translateY(-0.25rem); /* group-hover:-translate-y-1 */
  border-color: #60a5fa; /* group-hover:border-blue-400 */
  background-image: linear-gradient(to right, #0f2747, #350707); /* group-hover:bg-gradient-to-r group-hover:from-blue-100 group-hover:to-red-100 */
}

.dark .group:hover .card {
  border-color: #3b82f6; /* dark:group-hover:border-blue-500 */
  background-image: linear-gradient(to right, rgb(30 64 175 / 0.3), rgb(153 27 27 / 0.3)); /* dark:group-hover:from-blue-800/30 dark:group-hover:to-red-800/30 */
}


.cardHeader{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
    justify-content: center;
}

.cardHeader h2::after, .cardHeader::after{
    content: '';
    width: 100%;
    height: 0.2rem;
    background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
    display: block;
    margin-top: 0.5rem;
}


.cardContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--octonary-color);
}

@media screen and (max-width: 500px) {
  .projectsSection {
    justify-content: center;
    margin: 2rem;
  }
  .projectsContent {
    justify-content: center;
    margin: 2rem;
  }

  .cardContent p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media (max-width: 1024px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .cardHeader {
    margin-bottom: 1rem;
  }

  .cardContent {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .cardContent p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

