.skillsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 0;
}

.skillsHeader{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight: 700;
}

.underline{
    height: 0.5rem;
    background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
}

.skillsContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
    width: 55%;
    margin-top: 2rem;
}

.smallCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    padding: 0 2rem;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.smallCard h1 {
    font-size: 1rem;
    color: #D1E8FF;
}

@media screen and (max-width: 500px){
    .skillsSection{
        margin: 2rem;
    }

    .card{
        width: 100%;
    }
    
}