body{
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom right, var(--primary-color),  black);
  color: var(--octonary-color);
  background-color: var(--primary-color);
 }
 
 html{
  font-size: 18px;
 }
 

 :root{
  --header-height: 10rem;
  --primary-color: #0f1127;
  --secondary-color: #29082f;
  --tertiary-color:#42053a;
  --quaternary-color: #5c0334;
  --quinary-color: #720131;
  --senary-color: #747474;
  --septenary-color: #242424;
  --octonary-color: #d8d8d8;
 }
 