.main{
display: flex;
flex-direction: column;
align-items: center;
}

.imageContainer{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  max-height: 310px;
}

.textContainer{
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  font-size: 3rem
}

.textContainer h1{
  font-size: inherit;
  background-image: linear-gradient(to right, var(--quinary-color), var(--quaternary-color));
  color: transparent;
  background-clip: text;
}

.textContainer p{
  font-weight: 400;
  text-align: center;
  width: 80%;
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .textContainer {
    font-size: 2.8rem;
  }
  .textContainer p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 992px) {
  .textContainer {
    font-size: 2.5rem;
  }
  .textContainer p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .textContainer {
    font-size: 2.2rem;
  }
  .textContainer p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  .textContainer p {
    font-size: 0.9rem;
  }
}